<div class="bg-gray-800 h-24 flex items-center pl-5 justify-between">

<img class="w-36" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Harry_Potter_wordmark.svg/1024px-Harry_Potter_wordmark.svg.png" alt="">

  <ul class="flex gap-3 justify-center items-center pr-5">
    <li  class="text-white"><a routerLink="/login" routerLinkActive="active">LogIn</a></li>
    <li   class="text-white"><a routerLink="/singin" routerLinkActive="active">SingIn</a></li>
    <li  class="text-white"><a routerLink="/profile/:id" routerLinkActive="active">Profile</a></li>
    <li  class="text-white"><a routerLink="/users" routerLinkActive="active">Users</a></li>


  </ul>
</div>


